.musicChart {
    margin: 0;
    padding: 0;
    border-top: solid 2px #000000;
}

.musicChartScroll {
    width: 400px;
}

.musicChartScroll>h5 {
    margin: 0;
    padding: 10px;
}

.musicChartRow {
    list-style: none;
    font-size: 11px;
    font-family: 나눔바른고딕;
    padding: 8px;
    border-bottom: 1px solid #EFEFEF;
}

.musicChartRow:hover {
    cursor: pointer;
    background-color: #ecedf7;
}